table 
  tr
    td
      p(
        ng-repeat="driver in drivers | orderBy:'-points'"
        ng-class='{in:$first}'
        ) {{ driver.name }}
    
    td
      p(
        ng-repeat="driver in drivers | orderBy:'-points'"
        ) {{ driver.points }}
