table(
       ng-show="show"
      )
  tr
    td
      p(
        ng-repeat="driver in drivers | orderBy:'-points'"
        ) {{ driver.name }}
    
    td
      p(
        ng-repeat="driver in drivers | orderBy:'-points'"
        ) {{ driver.points }}
