body{
  width: 100%;
}
h1 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  margin: 30px auto;
  display: block;
  text-align: center;
  width: 80%;
  color: $header-font-color;
}
table{
  width: 100%;
  z-index: 1;
}
td{
  background: transparent;
  width: 50%;
}

div{
  width: 100%;
}

svg{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0px;
}

td:nth-child(1){
  text-align: right;
  padding-right: 20px;
}
