#rocketEngine{
  width: 100%;
}

#start{
  position: absolute;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 48%;
  font-family: $base-font-family;
}

.table{
  width: 100%;
  font-family: $base-font-family;
}

#cloud1{
  -webkit-animation: fall 5s linear infinite;
}

@-webkit-keyframes fall {
  from{
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1000px)
  }
}


#winner {
  -vendor-animation-duration: 9s;
  -vendor-animation-delay: 20s;
  -vendor-animation-iteration-count: infinite;
}
